<p id="notice"><%= notice %></p>

<p>
  <strong>Headname:</strong>
  <%= @household.headname %>
</p>

<p>
  <strong>Headdob:</strong>
  <%= @household.headdob %>
</p>

<p>
  <strong>Headgender:</strong>
  <%= @household.headgender %>
</p>

<p>
  <strong>Headethicity:</strong>
  <%= @household.headethicity %>
</p>

<p>
  <strong>Numadults:</strong>
  <%= @household.numadults %>
</p>

<p>
  <strong>Numchild:</strong>
  <%= @household.numchild %>
</p>

<p>
  <strong>Streetaddr:</strong>
  <%= @household.streetaddr %>
</p>

<p>
  <strong>City:</strong>
  <%= @household.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @household.state %>
</p>

<p>
  <strong>County:</strong>
  <%= @household.county %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @household.zipcode %>
</p>

<p>
  <strong>Phonenum:</strong>
  <%= @household.phonenum %>
</p>

<p>
  <strong>Incomesource:</strong>
  <%= @household.incomesource %>
</p>

<p>
  <strong>Qualifiercode:</strong>
  <%= @household.qualifiercode %>
</p>

<p>
  <strong>Netincome:</strong>
  <%= @household.netincome %>
</p>

<p>
  <strong>Householdtype:</strong>
  <%= @household.householdtype %>
</p>

<%= link_to 'Edit', edit_household_path(@household) %> |
<%= link_to 'Back', households_path %>
