<style>
  /* Center the search elements using flexbox */
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
  }

  /* Style for the search container */
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
</style>


<div class="main-container">
  <div class="row mx-auto">
    <%= image_tag 'image.png', id: 'my-element', alt: 'Arm in Arm' %>
  </div>
  <div class="search-container">
    <h1>Client Search</h1>
    <p>Enter a client's first and last name or client ID to search for clients. All matching clients will appear.</p>
    <form class="form-inline">
      <label class="sr-only" for="id">ID</label>
      <input class="form-control mr-2 mb-2" type="text" id="id" name="id" placeholder="ID">
      <label class="sr-only" for="first_name">First name</label>
      <input class="form-control mr-2 mb-2" type="text" id="first_name" name="first_name" placeholder="First name">
      <label class="sr-only" for="last_name">Last name</label>
      <input class="form-control mr-2 mb-2" type="text" id="last_name" name="last_name" placeholder="Last name">
      <input class="btn btn-primary mb-2" type="submit" value="Search" action="/search">
    </form>


  </div>
  <% if @has_searched %>
    <%# A search query occurred. %>
    <% if @clients.empty? %>
      <div class="alert alert-warning" role="alert">No clients found that matched your search.</div>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Client ID</th>
            <th scope="col">Name</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <td><a href="/booker/<%= client.id %>"><%= client.id %></a></td>
              <td><%= client.first_name %> <%= client.last_name %></td>
              <td><%= client.dob %></td>
              <td><%= client.age %></td>
              <td><%= client.address %></td>
              <td>0</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>
