<% provide(:title, "My Account") %>

<h1>My Account</h1>
This will be a page to view your account information, household info, and QR code

<br></br>

<div class="container">
   <div class="row">
      <div class="col-md-6">
         <!-- Team22: Displays current users client info -->
         <h3>Client Information</h3>

         <table>
            <tr>
               <th>Client ID</th>
               <td><%= @client&.id || 'Not Available' %></td>
            </tr>
            <tr>
               <th>First Name</th>
               <td><%= @client&.first_name || 'Not Available' %></td>
            </tr>
            <tr>
               <th>Last Name</th>
               <td><%= @client&.last_name || 'Not Available' %></td>
            </tr>
            <tr>
               <th>Date of Birth</th>
               <td><%= @client&.dob || 'Not Available' %></td>
            </tr>
            <tr>
               <th>Address</th>
               <td><%= @client&.address || 'Not Available' %></td>
            </tr>
            <tr>
               <th>Language</th>
               <td><%= @client&.language || 'Not Available' %></td>
            </tr>
            <tr>
               <th>Religion</th>
               <td><%= @client&.religion || 'Not Available' %></td>
            </tr>
            <tr>
               <th>Allergies</th>
               <td><%= @client&.allergies_string || 'Not Available' %></td>
            </tr>
            <tr>
               <th>Gluten-free</th>
               <td><%= @client&.gluten_free ? 'Yes' : 'No' %></td>
            </tr>
            <tr>
               <th>Vegan</th>
               <td><%= @client&.vegan ? 'Yes' : 'No' %></td>
            </tr>
            <tr>
               <th>Dietary Restrictions</th>
               <td><%= @client&.restrictions || 'Not Available' %></td>
            </tr>
         </table>
         
         <!-- Allows user to edit client info -->
         <%= button_to 'Edit', edit_client_path(@client), method: :get, class: 'btn btn-primary' if @client.present? %>


         <% unless can?(:access, :rails_admin) %>
         <% end %>

         <% if can?(:access, :rails_admin) %>
         <%= button_to 'Delete', client_path(@client), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' if @client.present? %>
         <%= button_to 'Back', clients_path, method: :get, class: 'btn btn-primary' %>
         <% end %>
         

         <div>
            <% if current_user.registered == false %>
               You have not registered your household yet. You will see your information here once you do so.
            <% end %>
            <% if current_user.registered == true %>
               <br><br/>
               <div class="qr-code" style="mb-1">
                  <div class="card">
                     <div class="card-header text-xs font-weight-bold">Your QR Code</div>
                     <div class="card-body d-flex justify-content-center align-items-center" style="height: 300px;">
                        <!-- Center the content -->
                        <%= raw @qr_code %>
                     </div>
                  </div>
               </div>
            <% end %>
         </div>
      </div>

      <!-- Team22: Displays users household info only if it has a registered household -->
      <% if current_user.registered == true %>
         <div class="col-md-6">
            <div class="household-info">
               <h3>Household Information</h3>
               <strong><p> Household ID: </strong><%= @user_household&.id || 'Not Available' %></p>
               <strong> <p>Name of Head of Household: </strong><%= @user_household&.headname || 'Not Available' %></p>
               <strong><p>Date of Birth: </strong><%= @user_household&.headdob || 'Not Available' %></p>
               <strong><p># of Adults in Household: </strong><%= @user_household&.numadults || 'Not Available' %></p>
               <strong><p># of Children in Household: </strong><%= @user_household&.numchild || 'Not Available' %></p>
               
               <h3>Household Address</h3>
               <strong><p>Street Address: </strong><%= @user_household&.streetaddr || 'Not Available' %></p>
               <strong><p>City: </strong><%= @user_household&.city || 'Not Available' %></p>
               <strong><p>State: </strong><%= @user_household&.state || 'Not Available' %></p>
               <strong><p>County: </strong><%= @user_household&.county || 'Not Available' %></p>
               <strong><p>Zip Code: </strong><%= @user_household&.zipcode || 'Not Available' %></p>
               
               <h3>Household Demographics</h3>
               <strong><p>Household Type: </strong><%= @user_household&.householdtype || 'Not Available' %></p>
               <strong><p>Head of Household Gender: </strong><%= @user_household&.headgender || 'Not Available' %></p>
               <strong><p>Head of Household Race/Ethnicity: </strong><%= @user_household&.headethnicity || 'Not Available' %></p>
               <strong><h3>Household Income & Benefits</h3>
               <strong><p>SNAP (Food Stamps): </strong><%= @user_household&.foodstamps || 'Not Available' %></p>
               <strong> <p>Income Source: </strong><%= @user_household&.incomesource || 'Not Available' %></p>
               <strong><p>Qualifier Code: </strong><%= @user_household&.qualifiercode || 'Not Available' %></p>
               <strong><p>Net Income: </strong><%= @user_household&.netincome || 'Not Available' %></p>
               
                <%# Team22: Allows users to edit when uncommented %>
                  <%= button_to 'Edit', edit_household_path(@user_household), method: :get, class: 'btn btn-primary' %>
               
               
               <!-- Team22: Allows users to view members in their household -->
               <%= button_to 'Members', household_members_path(@user_household.id), method: :get, class: 'btn btn-primary' %>
            </div>
         </div>
      <% end %>
   </div>
</div>
