<!-- 
 Project Name: Admin Dashboard - Team 22
 Description: Allows admin to view & edit household, client, & location data
 Filename: client.html.erb
 Description: This view lists client data for a client.
  It also provides several buttons for quick access to other relevant pages.
 Last Modified: 4/28/2024
-->

<br>
<h3>Client Information</h3>
<br>
<%# Team 14: Added 4 translations here #%>

<table>
  <tr>
    <th>ID</th>
    <td><%= @client.id %>
  </tr>
  <tr>
    <th>First Name</th>
    <td><%= @client.first_name %></td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td><%= @client.last_name %></td>
  </tr>
  <tr>
    <th>Date of Birth</th>
    <td><%= @client.dob %></td>
  </tr>
  <tr>
    <th>Address</th>
    <td><%= @client.address %></td>
  </tr>
  <tr>
    <th>Language</th>
    <td><%= @client.language %></td>
  </tr>
  <tr>
    <th>Religion</th>
    <td><%= @client.religion %></td>
  </tr>
  <tr>
    <th>Allergies</th>
    <td><%= @client.allergies_string %></td>
  </tr>
  <tr>
    <th>Gluten-free</th>
    <td><%= if @client.gluten_free then get_translation('prereg_snaps_yes') else get_translation('prereg_snaps_no') end %></td>
  </tr>
  <tr>
    <th>Vegan</th>
    <td><%= if @client.vegan then get_translation('prereg_snaps_yes') else get_translation('prereg_snaps_no') end %></td>
  </tr>
  <tr>
    <th>Dietary Restrictions</th>
    <td><%= @client.restrictions %></td>
  </tr>
</table>

<%= button_to 'Edit', edit_client_path(@client), method: :get, class: 'btn btn-primary' %>

<!-- Team22: adds buttons based on user type -->
<% if can?(:access, :rails_admin) %>
  <!-- Team22: allows admins to delete client & go back to clients main page -->
  <%= button_to 'Delete', client_path(@client), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
  <%= button_to 'Clients', clients_path, method: :get, class: 'btn btn-primary' %>
<% else %>
  <!-- Team22: allows users to go back to their My Account page -->
  <%= button_to 'Account', account_index_path, method: :get, class: 'btn btn-primary' %>
<%end%>