<h1>Edit Client Profile</h1>

<%= form_with model: @client, local: true do |form| %>
  <%= form.label :first_name, "First Name" %>
  <%= form.text_field :first_name %><br>

  <%= form.label :last_name, "Last Name" %>
  <%= form.text_field :last_name %><br>

  <%= form.label :dob, "Date of Birth (mm/dd/yyyy)" %>
  <%= form.text_field :dob, value: @client.dob ? @client.dob.strftime("%m/%d/%Y") : '' %><br>

  <h2>Allergies</h2>
  <% Client::COMMON_ALLERGENS.each do |allergen, allergen_name| %>
    <%= check_box_tag "client[#{allergen}]", '1', @client.send(allergen) %>
    <%= label_tag "client_#{allergen}", allergen_name %><br>
  <% end %>

  <!-- Add other fields in a similar way -->

  <%= submit_tag "Save Changes" %>
<% end %>
