<p id="notice"><%= notice %></p>
<% provide(:title, "Events Panel") %>

<div class = "d-flex justify-content-center"> 
    <h1 style="color: #007177; margin-top: 20px;">Admin Panel</h1>
</div>

<br>




<% if @admin_panels.any? %>

  <%= link_to 'Create New Event', new_event_path, class: "btn btn-primary btn-lg" %>
  <br>

  
  <h2 style="color: #007177; margin-top: 20px;">Active Events</h2>
  <div class="dropdown-divider"></div>
  <br>

  <% prepare_for_temp_arrays( ) %>

  <% for i in 0..( @temp_active_array.length( ) / 3 ) do %>

    <% set_up_temp_array( @temp_active_array ) %>
    <div class="card-deck">
      
      <%= render"event_card" %>

    </div>

    <br>

  <% end %>

  
  <br>
  <br>
  <br>

  
  <h2 style="color: #007177; margin-top: 20px;">Past Events</h2>
  <div class="dropdown-divider"></div>
  <br>

  <% prepare_for_temp_arrays( ) %>

  <% for i in 0..( @temp_de_active_array.length( ) / 3 ) do %>

    <% set_up_temp_array( @temp_de_active_array ) %>
    <div class="card-deck">
      
      <%= render"event_card" %>

    </div>

    <br>

  <% end %>






<% else %>

  <div class="alert alert-danger" role="alert">
    
    There are no events available so far

  </div>
  <%= link_to 'Create New Event', new_event_path, class: "btn btn-primary btn-lg" %>




<% end %>


<br>

