<!DOCTYPE html>
<html>
  <head>
    <%# Bootstrap meta tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield(:title) %> - ArmInArm</title>

    <%# this will be to add the favicon to the tab of the page %>
    <%= favicon_link_tag asset_path('Logo1'), type: 'image/svg' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%# Bootstrap css %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/opendyslexic" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    <%# added by team 21 for graph generation (3/9/2024) %>
	<%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js' %>
	<%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chartkick@3.5.0/dist/chartkick.min.js' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' %>
	<%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
	<%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chart.js' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>

  <body class="<%= 'dyslexic-font' if session[:dyslexic_font] == 'enabled' %>">
    <%# Bootstrap js & dependencies %>

    <br>
    <br>
    <br>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= render "home/header" %>
      <%= yield %>
    </div>

    <!-- Stops the navbar from locking after navigating to a new page -->
    <script>
      $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
      });
    </script>

  </body>
</html>
