<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @member.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @member.lastname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @member.dob %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @member.relationship %>
</p>

<p>
  <strong>Household:</strong>
  <%= @member.household_id %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
